<body>
    <div class="grid-container">
      <div class="grid-item">
        <button class="btn1" routerLink="/rotating-cube">Rotating Cube</button>
      </div>
      <div class="grid-item">
        <a class="neon-button" routerLink="/light-saber">Light Saber</a>
      </div>
      <div class="grid-item">
        <p class="glitch-button">Example
          <span aria-hidden="true">Example</span>
          <span aria-hidden="true">Example</span>
        </p>
      </div>  
      <div class="grid-item">4</div>
      <div class="grid-item">5</div>
      <div class="grid-item">6</div>  
      <div class="grid-item">7</div>
      <div class="grid-item">8</div>
      <div class="grid-item">9</div>  
    </div>
</body>